# Analyse de données de films

Nous proposons de travailler sur des données décrivant des films. Les possibilités sont larges et vous êtes évalués sur vos propositions et votre méthodologie plus que sur vos résultats.

Les données de départ sont disponibles sur:
https://grouplens.org/datasets/movielens/
au format CSV. 

Nous nous intéresserons en particulier au jeu de données: **MovieLens 20M Dataset**. Dans ce jeu de données, vous disposez entre autre de:
* Idendifiant du film dans IMdb et TMdb (ça sera important ensuite)
* Catégorie(s) du film
* Titre du film
* Notes données par les internautes aux films

Afin de rendre le projet plus intéressant, nous ajoutons des données sur les acteurs et producteurs associés aux films (récupéré sur TMdb). Ces données sont disponibles sur les liens suivants:

http://webia.lip6.fr/~guigue/film_v2.pkl <br>
http://webia.lip6.fr/~guigue/act_v2.pkl <br>
http://webia.lip6.fr/~guigue/crew_v2.pkl

Ces fichiers contiennent respectivement : une nouvelle description des films (dont l'identifiant TMdb et la note moyenne donnée par les internautes, la date de sortie,...), une description des acteurs de chaque film et une description des équipes (scénariste, producteur, metteur en scène) pour chaque film.

Ces données sont des listes de taille 26908, chaque élément de la liste correspondant à un dictionnaire dont vous étudierez les clés pour récupérer les informations utiles.

**ATTENTION** Les contraintes de récupération d'informations en ligne font que la base MovieLens compte 27278 films mais les fichiers ci-dessus n'en comptent que 26908. Le plus simple est probablement d'éliminer les films de MovieLens qui ne sont pas dans cette seconde base.

## Consignes générales pour l'analyse des données

Vous devez proposer plusieurs analyses des données, qui devront à minima utiliser les
 techniques suivantes:
 
1. Mettre en forme les données pour identifier les acteurs et les catégories, les indexer
1. Traiter au moins un problème de régression supervisé (par exemple la prédiction de la note moyenne donnée à un film par les internautes).
1. Traiter au moins un problème de classification supervisé (par exemple la prédiction de la catégorie d'un film)
1. Utiliser les données catégorielles (catégories, acteurs,...) de manière discrète ET de manière coninue (*dummy coding*) dans des approches différentes
1. Proposer au moins une approche de catégorisation non supervisée (pour regrouper les acteurs par exemple)
1. Mener une campagne d'expérience permettant de comparer les performances sur un problème en fonction des valeurs d'un paramètre (et donc, in fine, trouver la meilleure valeur du paramètre)
1. Proposer quelques illustrations

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import pickle as pkl

import sys
sys.path.append('../')

# Importation de la librairie iads
import iads as iads

# importation de LabeledSet
from iads import LabeledSet as ls

# importation de Classifiers
from iads import Classifiers as cl

# importation de utils
from iads import utils as ut

%load_ext autoreload
%autoreload 1
from iads import clustering as ct

## Chargement des données (base MovieLens + enrichissements)

In [2]:
actors = pd.DataFrame(data=pd.read_csv("movielens/actors_most_pop_genres.csv", sep=","))

In [3]:
merge_matrix = ct.clustering_hierarchique(actors)

In [5]:
import pickle
with open("movielens/actors_hier_clust.pkl", "wb") as file:
    pickle.dump(merge_matrix, file, protocol=pickle.HIGHEST_PROTOCOL)

# Do not under this cell

In [4]:
centres, matrix = km.kmoyennes(100, actors, 0.05, 100)

KeyboardInterrupt:

In [4]:
actors.head()

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,3,3,0,0,3,1,14,0,2,0,0,0,0,0,0,1,1,0,0
1,0,12,12,10,4,9,4,3,3,2,0,3,0,0,2,0,13,3,1,0
2,0,19,12,0,0,14,8,3,24,1,0,1,2,0,3,7,7,14,2,3
3,0,6,8,0,0,26,4,5,11,2,0,2,0,2,3,5,4,5,0,0
4,0,4,10,0,1,4,5,0,9,4,0,34,0,0,10,3,13,5,1,0

In [3]:
len(actors)

164833

In [3]:
merge_matrix = ct.clustering_hierarchique(actors)

164833

KeyboardInterrupt:

# Don't go under this cell

In [2]:
movies_movielens = pd.DataFrame(data=pd.read_csv("movielens/movies.csv", sep=","))
movies_worldwide = pd.DataFrame(data=pd.read_csv("movielens/movies_worldwide.csv", sep=","))
movies_domestic = pd.DataFrame(data=pd.read_csv("movielens/movies_domestic.csv", sep=",", encoding = "ISO-8859-1"))
scores = pd.DataFrame(data=pd.read_csv("movielens/genome-scores.csv", sep=","))
ratings = pd.DataFrame(data=pd.read_csv("movielens/ratings.csv", sep=","))
links = pd.DataFrame(data=pd.read_csv("movielens/links.csv", sep=","))
tags = pd.DataFrame(data=pd.read_csv("movielens/tags.csv", sep=","))
genome_tags =pd.DataFrame(data=pd.read_csv("movielens/genome-tags.csv", sep=","))

/home/angelo/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
movies_movielens['year'] = movies_movielens.title.str.extract("\((\d{4})\)", expand=True)
# the release year for movies w/o one was set to 0
#movies_movielens['year'] = pd.to_numeric(movies_movielens['year'], errors='raise').fillna(0).astype(np.int64)
movies_movielens['title'] = movies_movielens.title.str.replace("\s\((\d{4})\)","")
movies_movielens.year = pd.to_numeric(movies_movielens.year, errors='coerce', \
                                       downcast='integer')
ratings["timestamp"] = pd.to_datetime(ratings["timestamp"], unit='s')
ratings["timestamp"] = ratings["timestamp"].dt.date

In [4]:
movies_title = movies_movielens.drop(['title'], inplace=False,axis=1)
movies_movielens, movies_title = movies_title, movies_movielens
movies_worldwide.drop(['homepage', 'poster_path', 'status', 'tagline', 'adult', \
                  'belongs_to_collection', 'genres', 'original_language', \
                  'original_title', 'overview', 'spoken_languages', 'video', \
                    'budget', 'imdb_id', 'popularity', 'production_companies', \
                       'production_countries', 'release_date', 'runtime', 'title', \
                       'vote_average', 'vote_count'],
                 inplace=True, axis=1)
movies_worldwide.rename(columns={'revenue': 'worldwide_gross', 'id': 'tmdbId'}, inplace=True)
movies_worldwide.tmdbId = pd.to_numeric(movies_worldwide.tmdbId, errors='coerce', \
                                       downcast='integer')
movies_domestic.drop(['genre', 'released', 'rating'], inplace=True, axis=1)
movies_domestic.rename(columns={'gross': 'domestic_gross', 'score': 'score_imdb', \
                              'votes': 'votes_imdb', 'name': 'title'}, inplace=True)

In [5]:
import itertools
fname = "movielens/act_v2.pkl"
actors_pkl = pkl.load(open(fname, "rb"))
fname = "movielens/film_v2.pkl" 
movies_pkl = pkl.load(open(fname, "rb"))
fname = "movielens/crew_v2.pkl" 
crew_pkl = pkl.load(open(fname, "rb"))

# add the movie id (TMDb) to every actor in the cast
for cast, film in zip(actors_pkl, movies_pkl):
    for actor in cast:
        actor['tmdbId'] = film['id']
        
# add the movie id (TMDb) to every actor in the cast
for crew, film in zip(crew_pkl, movies_pkl):
    for worker in crew:
        worker['tmdbId'] = film['id']

merged_actors = list(itertools.chain(*actors_pkl))
merged_crew =  list(itertools.chain(*crew_pkl))

In [6]:
actors_tmdb = pd.DataFrame(merged_actors)
crew_tmdb = pd.DataFrame(merged_crew)
movies_tmdb = pd.DataFrame(movies_pkl)

In [7]:
actors_tmdb.drop(['profile_path', 'credit_id'], inplace=True, axis=1)
crew_tmdb.drop(['profile_path', 'credit_id'], inplace=True, axis=1)
movies_tmdb.drop(['backdrop_path', 'poster_path', 'overview', 'video', 'adult', \
                  'genre_ids'], inplace=True, axis=1)
movies_tmdb.rename(columns={'id': 'tmdbId', 'vote_average': 'score_tmdb', 'vote_count': 'votes_tmdb'}, inplace=True)

In [8]:
movies_ids = pd.merge(movies_tmdb, links, on='tmdbId')
movies_genres = pd.merge(movies_ids, movies_movielens, on='movieId')
movies_ww_gross = pd.merge(movies_genres, movies_worldwide, on='tmdbId')
movies_all_gross = pd.merge(movies_ww_gross, movies_domestic, on=['title', 'year'])

In [9]:
len(movies_ww_gross), len(movies_domestic), len(movies_all_gross)

(26745, 6820, 5563)

In [10]:
movies_ww_gross.head(2)

,tmdbId,original_language,original_title,popularity,release_date,title,score_tmdb,votes_tmdb,movieId,imdbId,genres,year,worldwide_gross
0,862,en,Toy Story,22.773,1995-10-30,Toy Story,7.9,9550,1,114709,Adventure|Animation|Children|Comedy|Fantasy,1995.0,373554033.0
1,8844,en,Jumanji,2.947,1995-12-15,Jumanji,7.1,5594,2,113497,Adventure|Children|Fantasy,1995.0,262797249.0

In [11]:
movies_domestic[movies_domestic.title == 'Toy Story']

,budget,company,country,director,domestic_gross,title,runtime,score_imdb,star,votes_imdb,writer,year
1988,30000000.0,Pixar Animation Studios,USA,John Lasseter,191796233.0,Toy Story,81,8.3,Tom Hanks,694113,John Lasseter,1995

In [12]:
movies_all_gross.head(2)

,tmdbId,original_language,original_title,popularity,release_date,title,score_tmdb,votes_tmdb,movieId,imdbId,...,budget,company,country,director,domestic_gross,runtime,score_imdb,star,votes_imdb,writer
0,862,en,Toy Story,22.773,1995-10-30,Toy Story,7.9,9550,1,114709,...,30000000.0,Pixar Animation Studios,USA,John Lasseter,191796233.0,81,8.3,Tom Hanks,694113,John Lasseter
1,8844,en,Jumanji,2.947,1995-12-15,Jumanji,7.1,5594,2,113497,...,50000000.0,TriStar Pictures,USA,Joe Johnston,100475249.0,104,6.9,Robin Williams,232339,Jonathan Hensleigh

In [13]:
movies_all_gross.columns

Index(['tmdbId', 'original_language', 'original_title', 'popularity',
       'release_date', 'title', 'score_tmdb', 'votes_tmdb', 'movieId',
       'imdbId', 'genres', 'year', 'worldwide_gross', 'budget', 'company',
       'country', 'director', 'domestic_gross', 'runtime', 'score_imdb',
       'star', 'votes_imdb', 'writer'],
      dtype='object')

In [14]:
movies_all_gross.sort_values(by='popularity', inplace=False, ascending=False)

,tmdbId,original_language,original_title,popularity,release_date,title,score_tmdb,votes_tmdb,movieId,imdbId,...,budget,company,country,director,domestic_gross,runtime,score_imdb,star,votes_imdb,writer
5396,118340,en,Guardians of the Galaxy,53.156,2014-07-30,Guardians of the Galaxy,7.9,16698,112852,2015381,...,170000000.0,Marvel Studios,USA,James Gunn,333176600.0,121,8.1,Chris Pratt,791340,James Gunn
4798,24428,en,The Avengers,51.700,2012-04-25,The Avengers,7.6,18191,89745,848228,...,220000000.0,Marvel Studios,USA,Joss Whedon,623357910.0,143,8.1,Robert Downey Jr.,1064633,Joss Whedon
2725,22,en,Pirates of the Caribbean: The Curse of the Bla...,41.969,2003-07-09,Pirates of the Caribbean: The Curse of the Bla...,7.7,11677,6539,325980,...,140000000.0,Walt Disney Pictures,USA,Gore Verbinski,305413918.0,143,8.0,Johnny Depp,886092,Ted Elliott
2279,120,en,The Lord of the Rings: The Fellowship of the Ring,41.258,2001-12-18,The Lord of the Rings: The Fellowship of the Ring,8.3,13695,4993,120737,...,93000000.0,New Line Cinema,New Zealand,Peter Jackson,315544750.0,178,8.8,Elijah Wood,1352483,J.R.R. Tolkien
2527,672,en,Harry Potter and the Chamber of Secrets,40.198,2002-11-13,Harry Potter and the Chamber of Secrets,7.7,11011,5816,295297,...,100000000.0,1492 Pictures,UK,Chris Columbus,261988482.0,161,7.4,Daniel Radcliffe,432417,J.K. Rowling
5427,198663,en,The Maze Runner,39.503,2014-09-10,The Maze Runner,7.1,10149,114180,1790864,...,34000000.0,Twentieth Century Fox Film Corporation,USA,Wes Ball,102427862.0,113,6.8,Dylan O'Brien,344991,Noah Oppenheim
5318,157336,en,Interstellar,39.401,2014-11-05,Interstellar,8.2,17521,109487,816692,...,165000000.0,Paramount Pictures,USA,Christopher Nolan,188020017.0,169,8.6,Matthew McConaughey,1095553,Jonathan Nolan
5488,122917,en,The Hobbit: The Battle of the Five Armies,39.140,2014-12-10,The Hobbit: The Battle of the Five Armies,7.2,7908,118696,2310332,...,250000000.0,New Line Cinema,New Zealand,Peter Jackson,255119788.0,144,7.4,Ian McKellen,396797,Fran Walsh
4547,27205,en,Inception,38.838,2010-07-15,Inception,8.3,21060,79132,1375666,...,160000000.0,Warner Bros.,USA,Christopher Nolan,292576195.0,148,8.8,Leonardo DiCaprio,1629342,Christopher Nolan
5273,109445,en,Frozen,33.732,2013-11-27,Frozen,7.3,9175,106696,2294629,...,150000000.0,Walt Disney Animation Studios,USA,Chris Buck,400738009.0,102,7.5,Kristen Bell,464149,Jennifer Lee
4761,12445,en,Harry Potter and the Deathly Hallows: Part 2,33.124,2011-07-07,Harry Potter and the Deathly Hallows: Part 2,8.1,10826,88125,1201607,...,125000000.0,Warner Bros.,USA,David Yates,381011219.0,130,8.1,Daniel Radcliffe,608969,Steve Kloves
4430,19995,en,Avatar,33.015,2009-12-10,Avatar,7.4,17817,72998,499549,...,237000000.0,Twentieth Century Fox Film Corporation,UK,James Cameron,760507625.0,162,7.8,Sam Worthington,954412,James Cameron
5446,245891,en,John Wick,32.949,2014-10-22,John Wick,7.1,9132,115149,2911666,...,20000000.0,Thunder Road Pictures,USA,Chad Stahelski,43037835.0,101,7.3,Keanu Reeves,355140,Derek Kolstad
4071,155,en,The Dark Knight,32.816,2008-07-16,The Dark Knight,8.4,17998,58559,468569,...,185000000.0,Warner Bros.,USA,Christopher Nolan,534858444.0,152,9.0,Christian Bale,1839571,Jonathan Nolan
4096,1726,en,Iron Man,32.746,2008-04-30,Iron Man,7.5,14399,59315,371746,...,140000000.0,Paramount Pictures,USA,Jon Favreau,318412101.0,126,7.9,Robert Downey Jr.,755866,Mark Fergus
5455,177572,en,Big Hero 6,32.093,2014-10-24,Big Hero 6,7.8,9692,115617,2245084,...,165000000.0,FortyFour Studios,USA,Don Hall,222527828.0,102,7.8,Ryan Potter,320396,Jordan Roberts
2925,122,en,The Lord of the Rings: The Return of the King,31.467,2003-12-01,The Lord of the Rings: The Return of the King,8.4,12467,7153,167260,...,94000000.0,New Line Cinema,USA,Peter Jackson,377845905.0,201,8.9,Elijah Wood,1332020,J.R.R. Tolkien
5468,131631,en,The Hunger Games: Mockingjay - Part 1,31.233,2014-11-18,The Hunger Games: Mockingjay - Part 1,6.8,9596,116823,1951265,...,125000000.0,Color Force,USA,Francis Lawrence,337135885.0,123,6.7,Jennifer Lawrence,341715,Peter Craig
3589,674,en,Harry Potter and the Goblet of Fire,29.737,2005-11-16,Harry Potter and the Goblet of Fire,7.7,10395,40815,330373,...,150000000.0,Warner Bros.,UK,Mike Newell,290013036.0,157,7.7,Daniel Radcliffe,429209,Steve Kloves
4718,10195,en,Thor,29.344,2011-04-21,Thor,6.7,11671,86332,800369,...,150000000.0,Paramount Pictures,USA,Kenneth Branagh,181030624.0,115,7.0,Chris Hemsworth,585830,Ashley Miller
210,680,en,Pulp Fiction,29.059,1994-09-10,Pulp Fiction,8.4,14296,296,110912,...,8000000.0,Miramax,USA,Quentin Tarantino,107928762.0,154,8.9,John Travolta,1456787,Quentin Tarantino
2556,121,en,The Lord of the Rings: The Two Towers,28.993,2002-12-18,The Lord of the Rings: The Two Towers,8.2,11821,5952,167261,...,94000000.0,New Line Cinema,USA,Peter Jackson,342551365.0,179,8.7,Elijah Wood,1206786,J.R.R. Tolkien
4208,8966,en,Twilight,28.602,2008-11-20,Twilight,6.0,6864,63992,1099212,...,37000000.0,Summit Entertainment,USA,Catherine Hardwicke,191465414.0,122,5.2,Kristen Stewart,366772,Melissa Rosenberg
5368,102651,en,Maleficent,28.308,2014-05-28,Maleficent,7.0,7729,111659,1587310,...,180000000.0,Roth Films,USA,Robert Stromberg,241410378.0,97,7.0,Angelina Jolie,275137,Linda Woolverton
5387,244786,en,Whiplash,28.129,2014-10-10,Whiplash,8.4,7391,112552,2582802,...,3300000.0,Bold Films,USA,Damien Chazelle,13092000.0,107,8.5,Miles Teller,503754,Damien Chazelle
5359,127585,en,X-Men: Days of Future Past,28.064,2014-05-15,X-Men: Days of Future Past,7.5,9535,111362,1877832,...,200000000.0,Twentieth Century Fox Film Corporation,USA,Bryan Singer,233921534.0,132,8.0,Patrick Stewart,565997,Simon Kinberg
5055,49051,en,The Hobbit: An Unexpected Journey,28.058,2012-11-26,The Hobbit: An Unexpected Journey,7.2,11585,98809,903624,...,180000000.0,New Line Cinema,USA,Peter Jackson,303003568.0,169,7.9,Martin Freeman,680250,Fran Walsh
5379,82702,en,How to Train Your Dragon 2,27.807,2014-06-09,How to Train Your Dragon 2,7.7,5206,112175,1646971,...,145000000.0,DreamWorks Animation,USA,Dean DeBlois,177002924.0,102,7.8,Jay Baruchel,243596,Dean DeBlois
386,424,en,Schindler's List,27.494,1993-12-15,Schindler's List,8.5,7477,527,108052,...,22000000.0,Universal Pictures,USA,Steven Spielberg,96067179.0,195,8.9,Liam Neeson,956124,Thomas Keneally
226,278,en,The Shawshank Redemption,27.441,1994-09-23,The Shawshank Redemption,8.7,12361,318,111161,...,25000000.0,Castle Rock Entertainment,USA,Frank Darabont,28341469.0,142,9.3,Tim Robbins,1861666,Stephen King
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4265,40227,en,Playing for Keeps,0.686,1986-10-03,Playing for Keeps,4.5,2,66904,91767,...,0.0,Miramax,USA,Bob Weinstein,2669366.0,102,4.1,Daniel Jordano,515,Bob Weinstein
4740,49538,en,X-Men: First Class,0.685,2011-06-01,X-Men: First Class,7.2,7785,87232,1270798,...,160000000.0,Twentieth Century Fox Film Corporation,USA,Matthew Vaughn,146408305.0,132,7.8,James McAvoy,561501,Ashley Miller
4557,124096,en,"Olivier, Olivier",0.684,1992-10-28,"Olivier, Olivier",7.2,10,79473,102583,...,0.0,Oliane Productions,France,Agnieszka Holland,1256355.0,110,7.7,Brigitte Roüan,1462,Agnieszka Holland
801,108401,en,Star Maps,0.683,1997-07-23,Star Maps,5.2,5,1613,120197,...,0.0,Flan de Coco Films,USA,Miguel Arteta,592573.0,86,5.9,Douglas Spain,893,Miguel Arteta
511,123763,es,"Yo, la peor de todas",0.680,1990-08-09,"I, the Worst of All",6.8,3,789,100990,...,0.0,GEA Cinematográfica,Argentina,María Luisa Bemberg,52148.0,105,7.1,Assumpta Serna,504,María Luisa Bemberg
420,771,en,Home Alone,0.648,1990-11-09,Home Alone,7.2,4988,586,99785,...,18000000.0,Hughes Entertainment,USA,Chris Columbus,285761243.0,103,7.5,Macaulay Culkin,350395,John Hughes
3428,43912,en,Courage Mountain,0.613,1990-02-14,Courage Mountain,7.1,4,32062,97115,...,0.0,Epic Productions,USA,Christopher Leitch,1393610.0,100,5.8,Juliette Caton,605,Fred Brogger
1839,57240,en,Big Shots,0.600,1987-10-02,Big Shots,7.0,3,4087,92655,...,0.0,Lorimar Film Entertainment,USA,Robert Mandel,3390043.0,94,5.6,Ricky Busker,654,Joe Eszterhas
1909,11454,en,Manhunter,0.600,1986-08-14,Manhunter,7.0,490,4210,91474,...,15000000.0,De Laurentiis Entertainment Group (DEG),USA,Michael Mann,8620929.0,120,7.2,William Petersen,54000,Thomas Harris
3023,96461,en,Dance Me Outside,0.600,1995-03-10,Dance Me Outside,7.1,8,7471,109529,...,0.0,Cineplex-Odeon Films,Canada,Bruce McDonald,304852.0,84,7.3,Ryan Rajendra Black,957,John Frizzell
675,64900,fr,J'ai pas sommeil,0.600,1994-05-18,I Can't Sleep,7.0,3,1369,110171,...,0.0,Arena Films,France,Claire Denis,111015.0,110,7.0,Yekaterina Golubeva,894,Jean-Pol Fargeau
3051,86959,en,Getting It Right,0.600,1989-05-05,Getting It Right,7.0,3,7872,97424,...,0.0,Management Company Entertainment Group (MCEG),UK,Randal Kleiser,960385.0,100,6.5,Jesse Birdsall,579,Elizabeth Jane Howard
1878,63639,en,A Month in the Country,0.600,1987-01-01,A Month in the Country,6.5,11,4136,93562,...,0.0,Channel Four Films,UK,Pat O'Connor,443524.0,96,7.2,Colin Firth,1038,J.L. Carr
5145,116741,en,The Internship,0.600,2013-06-07,The Internship,6.2,2495,102481,2234155,...,58000000.0,Twentieth Century Fox Film Corporation,USA,Shawn Levy,44672764.0,119,6.3,Vince Vaughn,169189,Vince Vaughn
1186,274253,en,Belizaire the Cajun,0.600,1986-06-13,Belizaire the Cajun,5.5,2,2466,90710,...,0.0,Cote Blanche Productions,USA,Glen Pitre,1444618.0,103,6.4,Armand Assante,391,Glen Pitre
2817,88641,en,There Goes My Baby,0.600,1994-09-02,There Goes My Baby,8.5,2,6847,108320,...,10500000.0,Nelson Entertainment,USA,Floyd Mutrux,123509.0,99,6.4,Dermot Mulroney,902,Floyd Mutrux
5510,109161,en,The Squeeze,0.600,1987-07-10,The Squeeze,5.5,7,121436,94021,...,19000000.0,TriStar Pictures,USA,Roger Young,2228951.0,101,4.6,Michael Keaton,770,Daniel Taplitz
1641,125705,en,Hamlet,0.600,2000-12-10,Hamlet,0.0,0,65665,243951,...,2000000.0,double A Films,USA,Michael Almereyda,1568749.0,112,6.0,Ethan Hawke,8354,William Shakespeare
4033,41845,ja,天と地と,0.600,1990-11-24,Heaven and Earth,5.9,5,57499,99753,...,42000000.0,Haruki Kadokawa Films,Japan,Haruki Kadokawa,307775.0,104,7.1,Takaaki Enoki,792,Haruki Kadokawa
2091,86093,en,Cookie,0.600,1989-08-23,Cookie,4.3,3,4579,97109,...,0.0,Lorimar Film Entertainment,USA,Susan Seidelman,1869417.0,94,5.2,Peter Falk,929,Nora Ephron
2843,27450,en,Chicago Joe and the Showgirl,0.600,1990-05-16,Chicago Joe and the Showgirl,4.1,4,6915,99250,...,0.0,BSB,UK,Bernard Rose,85395.0,103,4.9,Emily Lloyd,587,David Yallop
5520,193650,en,Heathcliff: The Movie,0.600,1986-01-17,Heathcliff: The Movie,4.7,3,126573,104401,...,0.0,DIC Entertainment,Canada,Bruno Bianchi,2193642.0,73,5.3,Mel Blanc,187,George Gately
1967,56934,en,Bride of the Wind,0.600,2001-06-08,Bride of the Wind,0.0,0,4346,212827,...,12000000.0,Alma UK Limited,UK,Bruce Beresford,419414.0,100,5.7,Sarah Wynter,536,Marilyn Levy
5373,203819,en,Tracks,0.600,2014-03-06,Tracks,7.0,262,111778,2167266,...,0.0,Screen Australia,Australia,John Curran,508806.0,112,7.2,Mia Wasikowska,22475,Marion Nelson
2961,81824,en,Just Between Friends,0.600,1986-03-21,Just Between Friends,5.0,2,7271,91310,...,0.0,MTM Enterprises,USA,Allan Burns,6408791.0,110,5.9,Mary Tyler Moore,629,Allan Burns
4576,35791,en,Resident Evil: Afterlife,0.600,2010-09-09,Resident Evil: Afterlife,5.9,2011,80363,1220634,...,60000000.0,Constantin Film,Germany,Paul W.S. Anderson,60128566.0,96,5.9,Milla Jovovich,143707,Paul W.S. Anderson
260,48992,en,I Like It Like That,0.600,1994-10-14,I Like It Like That,6.2,5,359,110091,...,0.0,Columbia Pictures Corporation,USA,Darnell Martin,1777020.0,104,6.8,Luna Lauren Velez,1290,Darnell Martin
2445,43772,fa,رأی مخفی,0.600,2001-01-01,Secret Ballot,6.0,4,5512,290823,...,0.0,Payam Films,Iran,Babak Payami,114183.0,100,6.7,Nassim Abdi,1107,Mohsen Makhmalbaf
5462,203793,ru,Сталинград,0.600,2013-10-09,Stalingrad,5.9,129,116529,1966566,...,30000000.0,Art Pictures Studio,Russia,Fedor Bondarchuk,1013945.0,131,5.6,Mariya Smolnikova,13238,Sergey Snezhkin
1126,309,da,Festen,NaN,1998-06-19,The Celebration,7.8,364,2360,154420,...,1300000.0,Nimbus Film Productions,Denmark,Thomas Vinterberg,1647780.0,105,8.1,Ulrich Thomsen,69371,Thomas Vinterberg

In [15]:
movies_reduced = movies_all_gross.drop(['original_title', 'release_date'], axis=1)

In [16]:
genres_unique = pd.DataFrame(movies_movielens.genres.str.split('|').tolist()).stack().unique()
genres_unique = pd.DataFrame(genres_unique, columns=['genre'])
genres_unique

                 genre
0            Adventure
1            Animation
2             Children
3               Comedy
4              Fantasy
5              Romance
6                Drama
7               Action
8                Crime
9             Thriller
10              Horror
11             Mystery
12              Sci-Fi
13                IMAX
14         Documentary
15                 War
16             Musical
17             Western
18           Film-Noir
19  (no genres listed)

In [17]:
# Faire un dictionnaire avec tous les acteurs (acteur => indice)
# + un dictionnaire inversé (indice => acteur)
actor_index = dict()
index_actor = dict()
actor_films = dict()
for film in actors_pkl:
    for act in film:
        # affecte une valeur à une clé si la clé n'est pas utilisé
        res = actor_index.setdefault(act['name'], len(actor_index))
        if res == len(actor_index)-1:
            index_actor[len(actor_index)-1] = act['name']
        try:
            actor_films[act['name']].append(act['tmdbId'])
        except Exception:
             actor_films[act['name']] = [act['tmdbId']]

# Exemple de transformation supplémentaire
# Dans combien de films de base joue Tom Hanks? (Réponse 57)
# Dans combien de comédies...

# => On voit qu'il est possible de créer facilement des nouvelles caractéristiques qui
# apporteront des informations utiles pour certaines tâches

movies_tmdb.dropna(inplace=True)

movies_movielens.dropna(inplace=True)

tags.dropna(inplace=True)

In [18]:
movies_movielens.sort_values(by='movieId', inplace=True)
ratings.sort_values(by='movieId', inplace=True)
tags.sort_values(by='movieId', inplace=True)
links.sort_values(by='movieId', inplace=True)
scores.sort_values(by='movieId', inplace=True)

In [19]:
movies_ratings = pd.merge(movies_movielens, ratings, on='movieId')

In [27]:
rating_count = pd.DataFrame(movies_ratings.groupby('movieId', as_index = False)['rating']
                           .count().rename(columns={'rating' : 'votes_ml'}))

In [28]:
rating_count.sort_values('votes_ml',ascending=False).head()

      movieId  votes_ml
315       318     97999
352       356     97040
293       296     92406
587       593     87899
2487     2571     84545

In [29]:
rating_score = pd.DataFrame(movies_ratings.groupby('movieId', as_index = False)['rating']
                            .mean().rename(columns={'rating' : 'score_ml'}))
rating_score.sort_values('score_ml',ascending=False).head(5)

       movieId  score_ml
43805   169338       5.0
51585   187729       5.0
45018   172149       5.0
40484   160966       5.0
30667   134387       5.0

In [31]:
movies_ratings_ml = pd.merge(rating_count, rating_score, on='movieId')
movies_ratings_ml.sort_values('votes_ml',ascending=False).head(5)

      movieId  votes_ml  score_ml
315       318     97999  4.424188
352       356     97040  4.056585
293       296     92406  4.173971
587       593     87899  4.151412
2487     2571     84545  4.149695

In [32]:
movies_three_ratings = pd.merge(movies_all_gross, movies_ratings_ml, on='movieId')

In [33]:
movies_three_ratings.head(2)

,tmdbId,original_language,original_title,popularity,release_date,title,score_tmdb,votes_tmdb,movieId,imdbId,...,country,director,domestic_gross,runtime,score_imdb,star,votes_imdb,writer,votes_ml,score_ml
0,862,en,Toy Story,22.773,1995-10-30,Toy Story,7.9,9550,1,114709,...,USA,John Lasseter,191796233.0,81,8.3,Tom Hanks,694113,John Lasseter,68469,3.886649
1,8844,en,Jumanji,2.947,1995-12-15,Jumanji,7.1,5594,2,113497,...,USA,Joe Johnston,100475249.0,104,6.9,Robin Williams,232339,Jonathan Hensleigh,27143,3.246583

In [46]:
# store movies complete data
movies_three_ratings.to_csv("movielens/movies_complete.csv", index=False)

In [49]:
movies_genres_reduced = movies_genres.drop(['original_language', 'original_title', \
                                            'popularity', 'release_date', 'title', \
                                           'score_tmdb', 'votes_tmdb', 'movieId', \
                                           'imdbId', 'year'], axis=1)
actors_tmdb_reduced = actors_tmdb.drop(['character', 'cast_id', 'gender', 'name', 'order'],
                                       axis=1)

In [51]:
movies_dummy_genres = movies_genres_reduced.join(movies_genres_reduced.genres.str.get_dummies())
movies_dummy_genres.drop('genres', inplace=True, axis=1)

In [58]:
actors_dummy_genres = pd.merge(movies_dummy_genres, actors_tmdb_reduced, on='tmdbId')
actors_dummy_genres.drop(['tmdbId'], inplace=True, axis=1)

In [63]:
# store actors-genres dummy data
actors_dummy_genres.to_csv("movielens/actors_genres.csv", index=False)

In [62]:
actors_dummy_genres.head(2)

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,id
0,0,0,1,1,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,31
1,0,0,1,1,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,12898

## Feature engineering
A vous de créer les caractéristiques de description des données qui permettront d'améliorer les performances dans les tâches que vous aurez choisi d'aborder dans le projet.

In [29]:
# Faire un dictionnaire avec tous les acteurs (acteur => indice)
# + un dictionnaire inversé (indice => acteur)
actor_index = dict()
index_actor = dict()
for film in actors_pkl:
    for act in film:
        # affecte une valeur à une clé si la clé n'est pas utilisé
        res = actor_index.setdefault(act['name'], len(actor_index))
        if res == len(actor_index)-1:
            index_actor[len(actor_index)-1] = act['name']

# Exemple de transformation supplémentaire
# Dans combien de films de base joue Tom Hanks? (Réponse 57)
# Dans combien de comédies...

# => On voit qu'il est possible de créer facilement des nouvelles caractéristiques qui
# apporteront des informations utiles pour certaines tâches

In [32]:
index_actor[0], actor_index["Tom Hanks"]

('Tom Hanks', 0)

In [31]:
genres = dict()
genres_inv = dict()
for g in genres_unique.itertuples():
    # affecte une valeur à une clé si la clé n'est pas utilisée
    res = genres.setdefault(g.genre, len(genres))
    if res == len(genres)-1:
        genres_inv[len(genres)-1] = g.genre

In [32]:
genres["Fantasy"]

4

In [33]:
actors_tmdb.sort_values(by='id', inplace=True)

In [34]:
movies_tmdb.sort_values(by='id', inplace=True)

In [35]:
actors_tmdb.head()

,cast_id,character,credit_id,gender,id,name,order
267934,11,Himself,56757ade92514179d4002e15,2,1,George Lucas,7
182264,78,Baron Papanoida,584a4128c3a368141f01b620,2,1,George Lucas,24
182650,13,Himself,5be613610e0a263bf80039c4,2,1,George Lucas,11
8009,5,Disappointed Man,52fe4235c3a36847f800c2f7,2,1,George Lucas,21
339106,1,Himself,52fe48799251416c9108db99,2,1,George Lucas,0

In [36]:
movies_tmdb.loc[movies_tmdb.original_title == 'Toy Story']

,adult,genre_ids,id,original_language,original_title,overview,popularity,release_date,title,video,vote_average,vote_count
0,False,"[16, 35, 10751]",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",22.773,1995-10-30,Toy Story,False,7.9,9550

In [37]:
movies_movielens.loc[movies_movielens.title == 'Toy Story']

   movieId      title                                       genres  year
0        1  Toy Story  Adventure|Animation|Children|Comedy|Fantasy  1995

In [38]:
movies_tmdb.loc[movies_tmdb.title == 'Toy Story']

,adult,genre_ids,id,original_language,original_title,overview,popularity,release_date,title,video,vote_average,vote_count
0,False,"[16, 35, 10751]",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",22.773,1995-10-30,Toy Story,False,7.9,9550

In [39]:
actors_pkl[0]

[{'cast_id': 14,
  'character': 'Woody (voice)',
  'credit_id': '52fe4284c3a36847f8024f95',
  'gender': 2,
  'id': 31,
  'name': 'Tom Hanks',
  'order': 0,
  'profile_path': '/xxPMucou2wRDxLrud8i2D4dsywh.jpg'},
 {'cast_id': 15,
  'character': 'Buzz Lightyear (voice)',
  'credit_id': '52fe4284c3a36847f8024f99',
  'gender': 2,
  'id': 12898,
  'name': 'Tim Allen',
  'order': 1,
  'profile_path': '/dDbtWMGdhatUjCIYolc312R2ygu.jpg'},
 {'cast_id': 16,
  'character': 'Mr. Potato Head (voice)',
  'credit_id': '52fe4284c3a36847f8024f9d',
  'gender': 2,
  'id': 7167,
  'name': 'Don Rickles',
  'order': 2,
  'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'},
 {'cast_id': 17,
  'character': 'Slinky Dog (voice)',
  'credit_id': '52fe4284c3a36847f8024fa1',
  'gender': 2,
  'id': 12899,
  'name': 'Jim Varney',
  'order': 3,
  'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'},
 {'cast_id': 18,
  'character': 'Rex (voice)',
  'credit_id': '52fe4284c3a36847f8024fa5',
  'gender': 2,
  'id': 12900,
  'name': 'Wallace Shawn',
  'order': 4,
  'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'},
 {'cast_id': 19,
  'character': 'Hamm (voice)',
  'credit_id': '52fe4284c3a36847f8024fa9',
  'gender': 2,
  'id': 7907,
  'name': 'John Ratzenberger',
  'order': 5,
  'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'},
 {'cast_id': 20,
  'character': 'Bo Peep (voice)',
  'credit_id': '52fe4284c3a36847f8024fad',
  'gender': 1,
  'id': 8873,
  'name': 'Annie Potts',
  'order': 6,
  'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'},
 {'cast_id': 26,
  'character': 'Andy (voice)',
  'credit_id': '52fe4284c3a36847f8024fc1',
  'gender': 2,
  'id': 1116442,
  'name': 'John Morris',
  'order': 7,
  'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'},
 {'cast_id': 22,
  'character': 'Sid (voice)',
  'credit_id': '52fe4284c3a36847f8024fb1',
  'gender': 2,
  'id': 12901,
  'name': 'Erik von Detten',
  'order': 8,
  'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'},
 {'cast_id': 23,
  'character': 'Mrs. Davis (voice)',
  'credit_id': '52fe4284c3a36847f8024fb5',
  'gender': 1,
  'id': 12133,
  'name': 'Laurie Metcalf',
  'order': 9,
  'profile_path': '/iUqHpUF9MgWh16uwf2rWtykpRkx.jpg'},
 {'cast_id': 24,
  'character': 'Sergeant (voice)',
  'credit_id': '52fe4284c3a36847f8024fb9',
  'gender': 2,
  'id': 8655,
  'name': 'R. Lee Ermey',
  'order': 10,
  'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'},
 {'cast_id': 25,
  'character': 'Hannah (voice)',
  'credit_id': '52fe4284c3a36847f8024fbd',
  'gender': 1,
  'id': 12903,
  'name': 'Sarah Freeman',
  'order': 11,
  'profile_path': None},
 {'cast_id': 27,
  'character': 'TV Announcer (voice)',
  'credit_id': '52fe4284c3a36847f8024fc5',
  'gender': 2,
  'id': 37221,
  'name': 'Penn Jillette',
  'order': 12,
  'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'},
 {'cast_id': 162,
  'character': 'Mom (voice)',
  'credit_id': '59f546f592514141ed005c7f',
  'gender': 1,
  'id': 214701,
  'name': 'Sherry Lynn',
  'order': 13,
  'profile_path': '/kQDSC2z7sb6S5HcpOH6cmeJokKE.jpg'},
 {'cast_id': 300,
  'character': 'Shark / Rocky Gibraltar (voice)',
  'credit_id': '5aa599ad9251412787027f71',
  'gender': 2,
  'id': 19545,
  'name': 'Jack Angel',
  'order': 14,
  'profile_path': '/qYvR57QBtXpdvj1jm2a8hjh7E4L.jpg'},
 {'cast_id': 301,
  'character': 'Wounded Soldier (voice)',
  'credit_id': '5aa599edc3a3687bfc02cbf2',
  'gender': 0,
  'id': 1266092,
  'name': 'Spencer Aste',
  'order': 15,
  'profile_path': '/iOgF5vVXIwrHXm0I7JJEjWiNRRT.jpg'},
 {'cast_id': 302,
  'character': 'Local Announcer (voice)',
  'credit_id': '5aa59b229251412781026d69',
  'gender': 2,
  'id': 94038,
  'name': 'Greg Berg',
  'order': 16,
  'profile_path': '/3TwBirdnh0AmKRSMhdWzzgZ0zTH.jpg'},
 {'cast_id': 303,
  'character': 'Kid (voice)',
  'credit_id': '5aa59b4e925141278d027723',
  'gender': 0,
  'id': 1202809,
  'name': 'Lisa Bradley',
  'order': 17,
  'profile_path': None},
 {'cast_id': 304,
  'character': 'Kid (voice)',
  'credit_id': '5aa59b7b92514127840277c1',
  'gender': 0,
  'id': 134713,
  'name': 'Kendall Cunningham',
  'order': 18,
  'profile_path': None},
 {'cast_id': 305,
  'character': 'Aliens / Pizza Planet Announcer (voice)',
  'credit_id': '5aa59b8d0e0a26075a02c4d4',
  'gender': 1,
  'id': 73016,
  'name': 'Debi Derryberry',
  'order': 19,
  'profile_path': '/mfmF3MjoL7sV76BSElFkVgDgA30.jpg'},
 {'cast_id': 306,
  'character': 'Kid (voice)',
  'credit_id': '5aa59bc0c3a3687c0c02aa21',
  'gender': 0,
  'id': 186614,
  'name': 'Cody Dorkin',
  'order': 20,
  'profile_path': '/pFmPDFwi1oPqvqZtiejlxTV86tn.jpg'},
 {'cast_id': 307,
  'character': 'Kid (voice)',
  'credit_id': '5aa59bd0c3a3687bfc02cdf4',
  'gender': 0,
  'id': 1017469,
  'name': 'Gregory Grudt',
  'order': 21,
  'profile_path': '/jISwKoeLNnc6X3Jylknnqdr6MZq.jpg'},
 {'cast_id': 308,
  'character': 'Kid (voice)',
  'credit_id': '5aa59bde0e0a26074d0285ce',
  'gender': 0,
  'id': 1266095,
  'name': 'Sam Lasseter',
  'order': 22,
  'profile_path': None},
 {'cast_id': 309,
  'character': 'Kid (voice)',
  'credit_id': '5aa59c0b0e0a26075402b8a5',
  'gender': 1,
  'id': 178710,
  'name': 'Brittany Levenbrown',
  'order': 23,
  'profile_path': None},
 {'cast_id': 310,
  'character': 'Monotone Announcer (voice)',
  'credit_id': '5aa59c2e0e0a26075d02c5cd',
  'gender': 2,
  'id': 84213,
  'name': 'Bill Farmer',
  'order': 24,
  'profile_path': '/dhIal4zmxsy7t2Bd6IfjpD8X5Mz.jpg'},
 {'cast_id': 311,
  'character': 'Mission Control (voice)',
  'credit_id': '5aa59c62925141278d027807',
  'gender': 2,
  'id': 1122227,
  'name': 'Craig Good',
  'order': 25,
  'profile_path': '/xqm0wzTaReXJKtRKaVQg7cwUV14.jpg'},
 {'cast_id': 312,
  'character': 'Burned Rag Doll (voice)',
  'credit_id': '5aa59c75925141277e02772d',
  'gender': 0,
  'id': 1217873,
  'name': 'Danielle Judovits',
  'order': 26,
  'profile_path': '/bi4q307EILaJ4HIueVE4Hv59JXY.jpg'},
 {'cast_id': 313,
  'character': 'Kid (voice)',
  'credit_id': '5aa59ca4c3a3687c2502c393',
  'gender': 2,
  'id': 79020,
  'name': 'Scott McAfee',
  'order': 27,
  'profile_path': '/kEd73kzCrVhfnNa8LLULpna72Jk.jpg'},
 {'cast_id': 314,
  'character': 'Kid (voice)',
  'credit_id': '5aa59cb20e0a26074b02c841',
  'gender': 2,
  'id': 166406,
  'name': "Ryan O'Donohue",
  'order': 28,
  'profile_path': '/l1NV0rGZvHI7yGOeFbPeffoHtuP.jpg'},
 {'cast_id': 315,
  'character': 'Aliens / Robot / Mr. Spell (voice)',
  'credit_id': '5aa59cbf0e0a260760027438',
  'gender': 2,
  'id': 7882,
  'name': 'Jeff Pidgeon',
  'order': 29,
  'profile_path': '/yLddkg5HcgbJg00cS13GVBnP0HY.jpg'},
 {'cast_id': 316,
  'character': 'Pizza Delivery Guy / Angry Driver #2 (voice)',
  'credit_id': '5aa59cce925141279302851e',
  'gender': 2,
  'id': 61968,
  'name': 'Patrick Pinney',
  'order': 30,
  'profile_path': None},
 {'cast_id': 317,
  'character': 'Pizza Planet Announcer / Pizza Planet Guard (voice)',
  'credit_id': '5aa59cdec3a3687c2502c3d9',
  'gender': 2,
  'id': 61969,
  'name': 'Phil Proctor',
  'order': 31,
  'profile_path': '/15jVORFFWoRMcqKoeVJQXyEfLVz.jpg'},
 {'cast_id': 318,
  'character': 'Gas Station Attendant (voice)',
  'credit_id': '5aa59ced0e0a26075a02c62b',
  'gender': 2,
  'id': 157626,
  'name': 'Jan Rabson',
  'order': 32,
  'profile_path': '/6mfE6PFzOlKb2Qf4dURbKzLrTTC.jpg'},
 {'cast_id': 319,
  'character': 'Lenny the Binoculars (voice)',
  'credit_id': '5aa59cfa0e0a260760027472',
  'gender': 0,
  'id': 7911,
  'name': 'Joe Ranft',
  'order': 33,
  'profile_path': '/f1BoWC2JbCcfP1e5hKfGsxkHzVU.jpg'},
 {'cast_id': 320,
  'character': 'Commercial Chorus (voice)',
  'credit_id': '5aa59d0bc3a3687bff02cc99',
  'gender': 2,
  'id': 7,
  'name': 'Andrew Stanton',
  'order': 34,
  'profile_path': '/gasNitCwepbqNcYBmDHpsCgZH0I.jpg'},
 {'cast_id': 321,
  'character': 'Kid (voice)',
  'credit_id': '5aa59d18925141277e0277a1',
  'gender': 2,
  'id': 158124,
  'name': 'Shane Sweet',
  'order': 35,
  'profile_path': '/lsutYUETco7Rjr24CLWPC80EzEP.jpg'},
 {'cast_id': 322,
  'character': 'Timon (voice) (archive footage) (uncredited)',
  'credit_id': '5aa59d539251412781026f2c',
  'gender': 2,
  'id': 78729,
  'name': 'Nathan Lane',
  'order': 36,
  'profile_path': '/2eB01W4VURqihttVdewfhfhhCwW.jpg'},
 {'cast_id': 323,
  'character': 'Commercial Chorus #1 (voice) (uncredited)',
  'credit_id': '5aa59d62c3a3687c06026721',
  'gender': 2,
  'id': 7879,
  'name': 'John Lasseter',
  'order': 37,
  'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'},
 {'cast_id': 324,
  'character': 'Pumbaa (voice) (archive footage) (uncredited)',
  'credit_id': '5aa59d6fc3a3687c2502c468',
  'gender': 2,
  'id': 69415,
  'name': 'Ernie Sabella',
  'order': 38,
  'profile_path': '/nwdAp8FacfZ1eRU7gNkOwWvDqnc.jpg'}]

In [40]:
actors_tmdb.loc[actors_tmdb.name == 'Tim Allen']

,cast_id,character,credit_id,gender,id,name,order
356723,7,Buzz Lightyear,52fe4dbec3a368484e1fac15,2,12898,Tim Allen,1
266660,9,Buzz Lightyear (voice),52fe433f9251416c75009169,2,12898,Tim Allen,1
5988,10,Santa Claus / Scott Calvin,52fe44379251416c7502ce9b,2,12898,Tim Allen,0
152772,1,Luther Krank,52fe458a9251416c7505a0a7,2,12898,Tim Allen,0
225420,2,Chet Frank,52fe44dc9251416c750437b5,2,12898,Tim Allen,1
195611,22,Dave Douglas,52fe431a9251416c75003823,2,12898,Tim Allen,0
278490,1,Tommy,52fe45a69251416c910399e7,2,12898,Tim Allen,0
28496,11,Michael Cromwell,52fe44f8c3a36847f80b4f77,2,12898,Tim Allen,0
389622,1,Buzz Lightyear (voice),52fe48509251416c91087f5d,2,12898,Tim Allen,1
197625,68,Buzz Lightyear Car (voice),550da0af9251414695005f49,2,12898,Tim Allen,23
28072,18,Tim Allen,5ac2c8bcc3a3682d33026b1d,2,12898,Tim Allen,16
93695,1,Joe Scheffer,52fe44db9251416c7504353b,2,12898,Tim Allen,0
59384,404,Buzz Lightyear (voice),5ac16ecdc3a3682db5010610,2,12898,Tim Allen,1
402629,4,Buzz Lightyear,52fe4b68c3a368484e187943,2,12898,Tim Allen,1
389599,1,Buzz Lightyear (voice),52fe4982c3a368484e12efff,2,12898,Tim Allen,1
204931,1,Santa,52fe45969251416c7505b9fd,2,12898,Tim Allen,0
281813,15,Himself,573de94a9251413dfc000797,2,12898,Tim Allen,10
102385,2,Critical Jim,52fe45009251416c9102428f,2,12898,Tim Allen,1
209860,1,Doug Madsen,52fe440e9251416c7502766b,2,12898,Tim Allen,0
318652,3,narrator,52fe4865c3a368484e0f6767,2,12898,Tim Allen,0
32254,1,Brad,52fe43629251416c7500e315,2,12898,Tim Allen,0
107219,1,Scott Calvin / Santa Clause,52fe44d2c3a36847f80abfe7,2,12898,Tim Allen,0
1,15,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2,12898,Tim Allen,1
89779,1,Eliot Arnold,52fe433ec3a36847f804571f,2,12898,Tim Allen,0
402660,1,Buzz Lightyear (voice),543d70a40e0a266f8e0002c6,2,12898,Tim Allen,2
339957,100,Himself,52fe45b8c3a36847f80d6b71,2,12898,Tim Allen,87
200852,1,Jack Sheppard,52fe45cc9251416c75062dbd,2,12898,Tim Allen,0
60533,40,Jason Nesmith,52fe428ec3a36847f8027ef3,2,12898,Tim Allen,0

In [41]:
movies_movielens.loc[movies_movielens.title == 'Pulp Fiction']

     movieId         title                       genres  year
293      296  Pulp Fiction  Comedy|Crime|Drama|Thriller  1994

In [51]:
movies_tmdb.loc[movies_tmdb.original_title == 'Pulp Fiction']

,adult,genre_ids,id,original_language,original_title,overview,popularity,release_date,title,video,vote_average,vote_count
293,False,"[53, 80]",680,en,Pulp Fiction,"A burger-loving hit man, his philosophical par...",29.059,1994-09-10,Pulp Fiction,False,8.4,14296

In [49]:
genres_vals = movies_tmdb.genre_ids.values
genres_vals = [el for sub in genres_vals for el in sub]
un_genre_vals = np.unique(genres_vals)

In [50]:
un_genre_vals

array([   12,    14,    16,    18,    27,    28,    35,    36,    37,
          53,    80,    99,   878,  9648, 10402, 10749, 10751, 10752,
       10770])

## problème rencontré en essayant de faire des dictionnaires Films: {actors} et Actors:{categories} :
## Je ne comprends pas a quel genre correspond chaque genre_ids et comment trouver les films dans lesquels chaque acteur a jouer